body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 32px;
    padding: 0;
    margin: 0;
}

div, p, a, span {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

p {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1219px;
    margin: 0 auto;
    padding-left: 55px;
    padding-right: 55px;
}

.header {
    background: #007765;
    padding-top: 20px;
    padding-bottom: 11px;
    /* display: fixed; */
  
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.img-logo {
    height: 45px;
}

.ref {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.main-title {
    background: url('../img/bg1.png') no-repeat;
    background-size: cover;
    padding: 160px 0;
}

.title-main {
    text-align: center;
    font-size: 72px;
    
}

.section-problem {
    background: #eee;
    padding-top: 48px;
    padding-bottom: 92px;
}

.section-title {
    color: #007765;
    font-size: 64px;
    text-align: center;
}

.text-problem {
    font-weight: 400;
    color: #000;
}

.text-problem .bold {
    font-weight: bold;
}

.section-quote {
    background: url('../img/bg2.png') no-repeat;
    background-size: cover;
    padding-top: 128px;
    padding-bottom: 127px;
}

.container-quote {
    padding: 0;
}

.quote {
    margin: 0 163px;
    padding: 0;
    font-weight: 500;
    font-style: italic;
    font-size: 48px;
    text-align: center;
}