html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 32px;
    padding: 0;
    margin: 0;
    
}

div, p, a, span {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #007765;
}

p {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1219px;
    margin: 0 auto;
    padding-left: 55px;
    padding-right: 55px;
}

.header {
    background: #007765;
    padding-top: 20px;
    padding-bottom: 11px;
    position: sticky;
    top: 0;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    
}

.img-logo {
    height: 45px;
}

.ref {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.5s ease;
    
}
.ref:hover {
    text-decoration: underline;
}

.main-title {
    background: url('../img/bg1.png') no-repeat center;
    background-size: 100% 100%;
    padding: 160px 0;
    border-top: 83px solid transparent;
    margin-top: -83px;
    background-clip: padding-box;
}

.title-main {
    text-align: center;
    font-size: 72px;
    color: #fff;
}

.section-problem {
    background: #eee;
    padding-top: 48px;
    padding-bottom: 52px;
    border-top: 83px solid transparent;
    margin-top: -83px;
    background-clip: padding-box;
    
}


.section-title {
    color: #007765;
    font-size: 64px;
    text-align: center;
}

.paragraph {
    padding-top: 16px;
}

.section-text {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 400;
    color: #000;
}

.first-p {
    margin-top: 0;
}

.section-text .bold {
    font-weight: bold;
}

.section-quote {
    background: url('../img/bg2.png') no-repeat;
    background-size: 100% 100%;
    padding-top: 128px;
    padding-bottom: 127px;
}

.container-other {
    padding: 0;
}

.quote {
    margin: 0 163px;
    padding: 0;
    font-weight: 500;
    font-style: italic;
    font-size: 48px;
    text-align: center;
}

.section-introducing {
    background: #fff;
    padding-top: 48px;
    padding-bottom: 52px;
    border-top: 83px solid transparent;
    margin-top: -83px;
    background-clip: padding-box;
}

.pcclogo {
    height: 115px;
    float: left;
    margin-right: 48px;
}

.italic {
    font-style: italic;
}

.no-float {
    clear: both;
}

.section-team {
    background: #eee;
    padding-top: 48px;
    padding-bottom: 92px;
    border-top: 83px solid transparent;
    margin-top: -83px;
    background-clip: padding-box;
    
}

.team {
    margin-top: 32px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.person {
    text-align: center;
    padding-top: 24px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 28px;
    width: 350px;

}

.photo {
    height: 168px;
    margin-bottom: 12px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    
}
.prof {
    margin: 0;
    font-style: italic;
    color: #000;
    font-size: 18px;
    
}

.footer {
    background: #333;
    padding-top: 48px;
    padding-bottom: 64px;
}

.credits {
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0 340px;
    text-align: center;
}

